
/*@font-face {
    font-family: 'LucidaGrandeRegular';
    src: url('/assets/lucida_grande_bold-webfont.eot');
    src: url('/assets/lucida_grande_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/lucida_grande_bold-webfont.woff') format('woff'),
         url('/assets/lucida_grande_bold-webfont.ttf') format('truetype'),
         url('/assets/lucida_grande_bold-webfont.svg#LucidaGrandeRegular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'LucidaGrandeBold';
    src: url('/assets/lucida_grande_bold-webfont.eot');
    src: url('/assets/lucida_grande_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/lucida_grande_bold-webfont.woff') format('woff'),
         url('/assets/lucida_grande_bold-webfont.ttf') format('truetype'),
         url('/assets/lucida_grande_bold-webfont.svg#LucidaGrandeBold') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'din_mediumregular';
    src: url('din_medium-webfont.eot');
    src: url('din_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/din_medium-webfont.woff') format('woff'),
         url('/assets/din_medium-webfont.ttf') format('truetype'),
         url('din_medium-webfont.svg#din_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'zurich_bdxcn_btbold';
    src: url('zurchbxc-webfont.eot');
    src: url('zurchbxc-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/zurchbxc-webfont.woff') format('woff'),
         url('/assets/zurchbxc-webfont.ttf') format('truetype'),
         url('zurchbxc-webfont.svg#zurich_bdxcn_btbold') format('svg');
    font-weight: normal;
    font-style: normal;}*/

* {margin:0; padding:0;}
/* body {background:url(/assets/body-bg.jpg) repeat top center; margin:0; padding:0; font-size:12px; font-family:'LucidaGrandeRegular', Arial, Helvetica, sans-serif; color:#333333; text-decoration:none;} */
h1, h2, h3, h4, h5, h6, form, p, ul, li, ol, fieldset, legend, label, option { margin:0; padding:0; list-style-type:none;}
.left {float:left;}
.right {float:right;}
.relative {position:relative;}
input ,select ,textarea {font-family:'LucidaGrandeRegular', Arial, Helvetica, sans-serif; font-size:12px; color:#999;}
select ,textarea {overflow:auto; resize:none;}
.clear {clear:both;}
.nomargin {margin:0 !important;}
.noborder {border:none !important;}
img { border:none; vertical-align:middle;}
a {cursor:pointer; text-decoration:none;}
.no-class {margin:0 !important; padding:0 !important; width:auto !important; background:none; border:none; float:none;}
p {margin-bottom:18px; font-size:12px; line-height:18px;} 

h1 {font-size:24px; color:#666; font-family: 'zurich_bdxcn_btbold', Arial, Helvetica, sans-serif; font-weight:normal; float:left;}
h1 .green {color:#35a641;}
h2 {font-size:24px; color:#35a641; font-family: 'zurich_bdxcn_btbold', Arial, Helvetica, sans-serif; font-weight:normal;}


/*-------------COMMEN CSS END HERE-------------*/

#main-wrapper {width:100%;}
#top-wrapper {background:url(/assets/top-bg.jpg) repeat-x top; height:145px; width:100%;}
#midd-wrapper {width:1000px; margin:0 auto;}
#bottom-wrapper {width:1000px; margin:0 auto;}
.wrapper {width:1000px; margin:0 auto;}

.top-profile {width:1000px; float:left;}
.pro-icons {background:url(/assets/pro-icons.png) no-repeat; width:22px; height:20px;}
.pro-left {float:left; margin:9px 0 0 135px; color:#f9f9f9;}
.pro-left span {background-position:0 0; float:left;}
.pro-left em {font-style:normal; float:left; padding:5px 0 0 16px;}
.pro-right {float:right; width:376px; *width:386px; color:#f9f9f9; font-size:11px; font-family:Verdana, Geneva, sans-serif;}
.pro-right ul {background:url(/assets/top-hr-line.gif) repeat-y right; float:right; margin:0; padding:0;}
.pro-right li {float:left; background:url(/assets/top-hr-line.gif) repeat-y; padding:8px 10px; line-height:18px;}
.pro-right li span {padding-right:2px;}
.pro-right li span.profile {background-position:-22px 0; float:left;}
.pro-right li span.msg {background-position:-44px 0; float:left;}
.pro-right li span.setting {background-position:-66px 0; float:left;}
.pro-right li span.logout {background-position:-88px 0; float:left;}
.pro-right li strong {float:left; font-weight:normal; background:url(/assets/msg-box.gif) repeat-x; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding:5px; font-size:10px; margin:1px 0 0 8px; text-align:center; line-height:6px;}
.pro-right li em {float:left; font-style:normal;}
.pro-right li a {color:#f9f9f9;}
.pro-right li a:hover {color:#868686;}
.pro-right li a:hover strong {color:#ffc8c8;}

.pro-right li span.admin-2 {background-position:-108px 0; float:left;}

.nav {float:right; /*width:388px;*/ background:url(/assets/nav-1.png) repeat-x; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;  height:55px; margin:-75px 0 0;}
.nav li {float:left; text-align:center; font-family: 'din_mediumregular', Arial, Helvetica, sans-serif; width:77.6px; display:block; height:55px;}
.nav li.frst{background:url(/assets/nav-3.png) no-repeat left 0;}
.nav li.last{background:url(/assets/nav-4.png) no-repeat right 0;}
.nav li.last a{background:none;}
.nav li a {display:block; padding:10px 0 5px; background:url(/assets/nav-2.png) no-repeat right 0;}
.nav li a span {background:url(/assets/nav-icons.png) no-repeat; width:16px; height:16px; display:block; margin:0 auto;}
.nav li a span.home {background-position:0 0;}
.nav li a:hover span.home, .nav li.active a span.home {background-position:0 -16px;}
.nav li a span.user {background-position:-16px 0;}
.nav li a:hover span.user, .nav li.active a span.user{background-position:-16px -16px;}
.nav li a span.theme {background-position:-32px 0;}
.nav li a:hover span.theme, .nav li.active a span.theme {background-position:-32px -16px;}
.nav li a span.news {background-position:-48px 0;}
.nav li a:hover span.news, .nav li.active a span.news {background-position:-48px -16px;}
.nav li a span.setting {background-position:-64px 0;}
.nav li a:hover span.setting, .nav li.active a span.setting {background-position:-64px -16px;}
.nav li a em {display:block; font-style:normal; color:#666; text-shadow:2px 2px #FFF; padding:8px 0 0;}

.inner-page {background:#fff; border:1px solid #dadada; box-shadow:0 0 1px 1px #ececec; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; float:left; width:1000px;}
.inner-head {background:url(/assets/inner-head-bg.gif) repeat-x #eee; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding:13px 10px; float:left; width:980px;}
.head-right {float:right; position:relative;}
.head-right input {border:none;font-size:14px;font-family: Arial, Helvetica, sans-serif;}
.head-right input.search-in {width:125px; padding:6px 25px 6px 6px;}
.head-right .mrLT {margin-left:15px;}
.box150 {width:150px;}
.box225 {width:225px;}
.box66 {width:66px;}
.box103 {width:103px;}
.box540 {width:540px;}
.box170 {width:170px;}
.box140 {width:140px;}
.head-right lable {color:#333;}
.head-right select {border:1px solid #ccc; padding:6px;}
.head-right img.search {position:absolute; right:200px; top:6px;}

.listing-part {float:left; width:1000px;}
.data-table {clear: both;}
.bor-tbl {border:1px solid #dadada; border-bottom:none;}
.data-table tr { background:#ebebeb;}
.data-table th { color:#fff; font-family: 'LucidaGrandeBold'; font-size:14px; font-weight:normal; background:#666; text-align:left;}
.data-table th.even {background:#555;}
.data-table th, .data-table td { padding:8px 4px 6px 10px;}
.data-table td { border-bottom: 1px solid #ddd; color: #333; font-size: 12px; background:#fff;}
.data-table tr.even td {background:#eee;}
.data-table td.last img {padding:0 8px;}
.data-table td.bottom-line {height:5px; background:#666; padding:0;}
.data-table input[type=checkbox] {padding:3px 5px 3px 0; float:left; margin:0 10px 0 0;}

.paging {background:#eee; float:left; width:990px; padding:6px 5px 8px;}
.paging ul {float:right;}
.paging li {float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0 5px 0 0; display:inline-block;}
.paging li a {color:#333; border:1px solid #ccc; background:url(/assets/paging-bg.jpg) repeat-x; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding:5px 8px; display:inline-block;}
.paging li a:hover, .paging li a.active {color:#fff; border:1px solid #106919; background:url(/assets/paging-bg-hover.jpg) repeat-x;}

.midd-left {float:left; width:700px; padding:20px 16px;}
.midd-left label {color:#000; font-size:12px; padding:5px 0; float:left; line-height:16px;}
.midd-left input {border:1px solid #ccc; padding:6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float:left; font-size:11px; color:#585858;}
.midd-left textarea {border:1px solid #ccc; padding:6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float:left; font-size:11px; color:#585858;}
.midd-left textarea.edit {padding:60px 6px 6px 6px; height:50px;}
.edit-panel {position:absolute; top:1px; right:1px;}
.midd-left li {padding-bottom:10px; float:left; width:694px;}
.data-btn {margin:5px 0 10px 140px; float:left;}
.midd-left .require {color:#ff0000; height:70px;}
.linked-midd {float:left; width:330px;}
.linked-midd input {width:330px; margin-bottom:5px;}
.linked-list {float:right; width:200px; color:#333; border:1px solid #ccc; background:url(/assets/linked-list-bg.gif) repeat-x; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; height:63px; margin-left:10px;}
.linked-list p {border-bottom:1px solid #ddd; padding: 7px 10px; margin:0; float:left; width:180px;}
.linked-list em {font-style:normal; float:left;}
.linked-list img {float:right;}
.data-used {border:1px solid #ccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float:left; width:520px;}
.up-down {position:absolute; top:3px; left:-26px;}

.midd-right {float:left; width:235px; margin:20px 16px 20px 15px; border:1px solid #ccc; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.rgt-head {background:url(/assets/right-head-bg.png) no-repeat; width:236px; height:31px; line-height:31px;}
.rgt-head h3 {font-weight:normal; font-size:13px; color:#fff; font-family: 'LucidaGrandeBold'; padding-left:15px;}
.midd-right form {padding:15px;}
.midd-right label {color:#585858; font-size:11px; display:block; padding:5px 0;}
.midd-right .red {color:#ff0000; font-size:11px; padding:5px 0 10px; display:block;}
.midd-right select {border:1px solid #ccc; padding:6px; margin:5px 0 10px 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; width:205px;}
.midd-right .check-box {margin:10px 0 0; float:left; width:205px;}
.check-box input[type=checkbox] {vertical-align:middle;}
.check-box label {padding:2px 0 0 8px;}
.midd-right li a {color:#333; border:1px solid #ccc; background:url(/assets/paging-bg.jpg) repeat-x; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display:inline-block; text-align:center; width:205px; font-size:12px; height:25px; line-height:25px; margin:4px 0;}
.midd-right li a:hover, .paging li a.active {color:#fff; border:1px solid #106919; background:url(/assets/paging-bg-hover.jpg) repeat-x;}
.btns {margin:5px 0 15px; float:left; width:205px;}
a.btn-black {background:url(/assets/icon-btns.png) no-repeat scroll right -27px; display: inline-block; font-size: 13px; padding: 0 7px 0 0; margin: 5px 0 0;}
a.btn-black span {background:url(/assets/icon-btns.png) no-repeat scroll left 0 transparent; color: #FFF; display: inline-block; font-family: 'LucidaGrandeBold',Arial,Helvetica,sans-serif; font-size: 13px; padding: 7px 10px 6px 17px; font-weight:normal; text-align:center;}
a:hover.btn-black span {color:#ccc;}
a.btn-red {background:url(/assets/icon-btns.png) no-repeat scroll right -81px; display: inline-block; font-size: 13px; padding: 0 7px 0 0; margin: 5px 1px 0 0;}
a.btn-red span {background:url(/assets/icon-btns.png) no-repeat scroll left -54px transparent; color: #FFF; display: inline-block; font-family: 'LucidaGrandeBold',Arial,Helvetica,sans-serif; font-size: 13px; padding: 7px 10px 6px 17px; font-weight:normal; text-align:center;}
a:hover.btn-red span {color:#4e0404;}
a.btn-green {background:url(/assets/icon-btns.png) no-repeat scroll right -135px; display: inline-block; font-size: 13px; padding: 0 7px 0 0; margin: 5px 0 0;}
a.btn-green span {background:url(/assets/icon-btns.png) no-repeat scroll left -108px transparent; color: #FFF; display: inline-block; font-family: 'LucidaGrandeBold',Arial,Helvetica,sans-serif; font-size: 13px; padding: 7px 10px 6px 17px; font-weight:normal; text-align:center;}
a:hover.btn-green span {color:#033b09;}

.midd-center {float:left; width:970px; padding:0 15px 10px;}
.midd-center h2 {margin:10px 0;}
.midd-center .left-listing {float:left; width:137px; padding:0 15px 10px 0;}
.midd-center td.subhb {color:#333; font-family: 'LucidaGrandeBold',Arial,Helvetica,sans-serif; font-size: 13px; background:#eee; padding: 6px 4px 4px 10px;}
.midd-center .right-listing {float:left; width:780px;}
.minus-plus {position:absolute; top:-15px; right:-40px;}

.front-page {background:url(/assets/front-top.png) no-repeat top center; padding:80px 10px 0;}
.front-page li {float:left; background:url(/assets/front-nav-bg.png) no-repeat; display:block; margin-right:22px; width:178px;}
.front-page li a {display:block; width:156px; height:107px; padding:28px 11px 0; width:156px;}
.front-page li a span {background:url(/assets/front-nav-icons.png) no-repeat; width:48px; height:48px; display:block; margin:0 auto;}
.front-page li a span.user {background-position:0 0;}
.front-page li a:hover span.user {background-position:0 -48px;}
.front-page li a span.theme {background-position:-48px 0;}
.front-page li a:hover span.theme {background-position:-48px -48px;}
.front-page li a span.news {background-position:-96px 0;}
.front-page li a:hover span.news {background-position:-96px -48px;}
.front-page li a span.data {background-position:-144px 0;}
.front-page li a:hover span.data {background-position:-144px -48px;}
.front-page li a span.setting {background-position:-192px 0;}
.front-page li a:hover span.setting {background-position:-192px -48px;}
.front-page li a em {background:url(/assets/front-nav-hr.gif) repeat-x; display:block; font-style:normal; color:#666; text-shadow:2px 2px #FFF; padding:7px 0 0; font-family: 'zurich_bdxcn_btbold', Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; margin:25px 0 0;}
.front-page li a:hover em {color:#35a641;}
.front-page li p {color:#868686; margin:20px 5px;}

.footer {text-align:left; color:#727272; font-size:11px; margin:20px 0 0; float:left; width:1000px; padding-bottom:30px;}
.footer a {color:#727272;}
.footer a:hover {text-decoration:underline;}

/*-----------NEW CSS ADDED BY HB 06-02-2013---------*/
.default-main {float:left; width:100%; padding-top:20px;}
.defult-left {float:left; width:740px;}
.defult-left h2 {font-size:22px;font-family: 'zurich_bdxcn_btbold', Arial, Helvetica, sans-serif; color:#666666; font-weight:normal; margin-bottom:6px;}
.defult-left p {font-size:11px; color:#45454b;}
.admin-table {float:left; width:720px !important; padding-top:20px;}
.admin-table h1 {font-size:24px;font-family: 'zurich_bdxcn_btbold', Arial, Helvetica, sans-serif; color:#35a641; font-weight:normal; margin-bottom:6px;}
.table-con {float:left; width:700px; border:1px solid #ced2d6; margin:15px 0;}
.even-td {background:#f1f1f1;}
.odd-td {background:#faf8f8;}
.table-con table td {padding:4px 8px 4px 8px; font-size:12px; color:#5e5c5b; font-family: 'LucidaGrandeBold';}
.table-con table td a {color:#5e5c5b; text-decoration:underline;}
.table-con table td a:hover {text-decoration:none;}
a.admin-link {text-decoration:none !important   ;}
a:hover.admin-link {color:#35a641;}
.post-div {float:left; width:100%; padding-top:0px;}
.post-div textarea {float:left; width:420px; border:1px solid #cccccc; border-radius:2px; height:62px; padding:4px; -moz-box-shadow: inset 3px 3px 3px #f0f0f0;
-webkit-box-shadow: inset 3px 3px 3px #f0f0f0;
box-shadow: inset 3px 3px 3px #f0f0f0; clear:both;}
.btn-post {background:url(/assets/btn-bg.gif) repeat-x; height:28px; border:1px solid #d0d0d0; border-radius:4px; padding:0 10px; color:#333333;font-family: 'LucidaGrandeBold'; cursor:pointer;}
.btn-post:hover {background:url(/assets/btn-bg-h.gif) repeat-x;}

.default-right {float:right; width:235px;}

/*.main-search { margin-top:0px; width:100%; float:left; background:#fff; border:1px solid #ccc; -moz-border-radius:5px; border-radius:5px; margin-bottom:18px;} */
.search-part { background:url(/assets/red-line.gif) repeat-x 0 0; -moz-border-radius:4px 4px 0 0; line-height:13px; height:33px; color:#fff; border-radius:4px 4px 0 0; width:220px; font-size:12px; float:left; font-family: 'LucidaGrandeBold', Arial, Helvetica, sans-serif; padding:4px 0 0 15px;}
.main-search input { margin-bottom:10px; background:url(/assets/search-input-bg-1.gif) no-repeat; width:170px; border:none; float:left; height:27px; line-height:27px; color:#7e7e7e; font-size:11px; padding:0 0 0 10px;}
.main-search form { padding:10px 0 0 15px; display:inline-block;}
.main-search .submit { background:url(/assets/green-bg-1.gif) no-repeat right; width:25px; height:27px; float:left; margin:0px 0 0 0px;}
.line-h { line-height:27px;}


.welcome-text { width:705px; float:left; background:#fff; padding:19px 15px 5px 20px; -moz-border-radius: 6px; border-radius: 6px; box-shadow:0px 0px 2px 1px #dadada;margin-top: 13px;}
.welcome-text h1 {color: #35A641;font-family: 'zurich_bdxcn_btbold',Arial,Helvetica,sans-serif;font-size: 36px;font-weight: normal; width:100%; margin-bottom:8px;}
.welcome-text h1 span { color:#15181f;}
.welcome-text p {font-size:12px; color:#0e0e0e; line-height:17px;}
.welcome-text a { color:#cf2e2d;}

/*-----------NEW CSS ADDED BY HB 07-02-2013-------------*/

.search-result-list {float:left; margin:14px;}
.search-result-list ul {margin:0; padding:0;}
.search-result-list li {margin:0 0 8px 0; padding:0 0 8px 0; border-bottom:1px solid #ccc; list-style:none; display:block;float:left; width:100%;}
.search-result-list li.last {border-bottom:none; margin-bottom:0px;}
.search-result-list li h2 {color:#15181F; font-size:14px; font-weight:normal; font-family: 'LucidaGrandeBold', Arial, Helvetica, sans-serif;}
.search-result-list li h2 a {color:#15181F; text-decoration:none;}
.search-result-list li h2 a:hover {color:#149722;}
.search-result-list li p {font-size:11px; margin-bottom:0px;}

/*20-2-13*/
.topics{}
.topics .topic-nam{clear:both;}
.topics .topic-nam{padding:0 0 20px 0;}
.topics .topic-nam input[type=text]{border:solid 1px #ccc; font-family: 'zurich_bdxcn_btbold',Arial,Helvetica,sans-serif; font-size:24px; color:#35a641; border-radius:5px; box-shadow:inset 0 0 7px #dfdddd; padding:20px 15px; width:95%;}
.topics .contnt-area{}
.topics .contnt-area textarea{padding:20px 15px; width:95%; border:solid 1px #ccc; font-family: 'LucidaGrandeRegular', Arial,Helvetica,sans-serif; font-size:16px;}
.wte-bx{background:#fff; border:solid 1px #ccc; padding:10px; border-radius:5px;}
.grn-btn-rgt{color:#fff; border:1px solid #106919; background:url(/assets/paging-bg-hover.jpg) repeat-x; display:inline-block; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display:inline-block; text-align:center; width:100px; font-size:12px; height:25px; line-height:25px; margin:4px 0;}
.selectn{clear:both; padding:0 0 8px;}
.selectn li{border-bottom:solid 1px #d2d2d2; padding:7px 0 8px 2px;}
.selectn li span{color:#15181f; font-size:11px; font-family: 'LucidaGrandeRegular', Arial,Helvetica,sans-serif;}
.selectn li a{float:right;}
.txt-bx{clear:both; margin:5px 0 5px 0; overflow:hidden;}
.txt-bx input[type=text]{border:solid 1px #ccc; padding:5px; border-radius:5px; width:181px;}
.txt-bx span{color:#32a73f; float:left; padding:11px 0 0 2px; font-family: 'zurich_bdxcn_btbold',Arial,Helvetica,sans-serif; font-size:26px;}
 
.newlistng{padding:15px; width:97%;}
.newlistng .for-srch{padding:0 0 22px 0;}
.newlistng .for-srch input[type=text]{width:250px; padding:5px; border:solid 1px #ccc; font-family: 'LucidaGrandeRegular', Arial,Helvetica,sans-serif; color:#686868; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; box-shadow:inset 2px 2px 4px #dfdddd;}
.newlistng .for-srch input[type=submit]{background:url(/assets/btn-2.gif); cursor:pointer; padding:5px 8px; color:#fff; border:none; font-family: 'LucidaGrandeRegular', Arial,Helvetica,sans-serif; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.tbbng{background:#f3f3f3;}
.tbbng .tbs{clear:both; float:left; width:100%;}
.tbbng .tbs a{padding:0 24px; background:#1a7e24 url(/assets/paging-bg-hover.jpg) repeat-x; color:#fff; border:solid 1px #0b6114; line-height:33px; border-bottom:solid 1px #0b6114;  position:relative; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0; display:inline-block;}
.tbbng .tbs a:hover, .tbbng .tbs a.active{background:url(/assets/tb-2.gif) repeat-x;  color:#3c3c3c; border-left:solid 1px #d5d5d5; border-right:solid 1px #d5d5d5; border-top:solid 1px #d5d5d5; border-bottom:solid 1px #fafafa;}
.tbs-cntnt{ clear:both; float:left; width:96.7%; border:solid 1px #d2d2d2; margin:-1px 0 0 0; padding:15px; -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px;}
.tbs-cntnt table{background:#d2d2d2; }
.tbs-cntnt tr.odd td{background:#eee;}
.tbs-cntnt tr.evn td{background:#fff;}
.tbs-cntnt td, .tbs-cntnt th{padding:10px; line-height:20px;}
.tbs-cntnt th{background:#666; color:#fff;}
.tbs-cntnt td.grrn{color:#299434;}
.tbs-cntnt td.bold{font-family: 'LucidaGrandeBold', Arial,Helvetica,sans-serif;}



/*-------------NEW CSS ADDED BY HB 15-04-2013---------*/
.login-wrap {width:465px; margin:50px auto;}
.login-inner {float:left; width:465px;}
.login-hd{background:url(/assets/login-hd-bg.jpg) repeat-x; height:39px; line-height:39px; padding:0 0 0 15px; width:448px; border:1px solid #2f2f2f; border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; font-family: 'LucidaGrandeBold', Arial,Helvetica,sans-serif; font-size:14px; color:#fff;}
.login-cont{border-left:1px solid #cccccc; border-right:1px solid #cccccc; background:#fff; float:left; width:413px; padding:30px 25px 20px 25px;}
.row {float:left; width:100%; margin:0 0 10px 0;}
.login-cont label {float:left; width:80px; line-height:28px;}
.login-input{float:left !important; background:url(/assets/email-input.png) no-repeat !important; width:255px !important; height:31px !important; line-height:31px !important; border:none !important; padding:0 0 0 40px !important;}
.pass-input {float:left !important; background:url(/assets/password-input.png) no-repeat !important; width:255px !important; height:31px !important; line-height:31px !important; border:none !important; padding:0 0 0 40px !important;}
.btn-login {background:url(/assets/btn-login-bg.gif) repeat-x; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; color:#fff; font-size:12px; border:1px solid #1f822a; height:25px; line-height:25px; padding:0 10px; cursor:pointer;}
.btn-login:hover {background:url(/assets/btn-login-bg-h.gif) repeat-x;}
a.forgot-pass {font-size:11px; color:#343434; font-family: 'LucidaGrandeRegular'; text-decoration:underline; margin:0 0 0 8px; background:url(/assets/key-icon.png) no-repeat left 0; padding-left:20px;}
a:hover.forgot-pass {text-decoration:none;}
.btn-div {padding-top:8px;}
.login-bott {float:left; background:url(/assets/login-bot.png) no-repeat; width:465px; height:17px; margin-bottom:100px;}
.copy-right {margin:0 auto; width:1000px; clear:both; text-align:center; color:#727272;}
.login-img {position:absolute; right:-50px; top:-60px;}
#disqus_thread{width:95%;}
ul.dropdown-menu li a:hover{background:#000 !important;}
.res-date{float: left; width:100%; clear:both; display:block; font-size: 11px; line-height: 16px; color: #A0A0A0;font-family: 'LucidaGrandeRegular'; }
a.read-more{color: rgb(53, 166, 65); font-size: 12px; text-decoration: underline; margin-top: 4px;}
a:hover.read-more{text-decoration: none;}

/*-------------NEW CSS ADDED BY HB 23-04-2013---------*/
.top-btn {float:left; width:100%; padding-bottom:10px;}
a.gray-btn-rgt {color:#585858; border:1px solid #cccccc; background:url(/assets/gray-bg.gif) repeat-x; display:inline-block; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display:inline-block; text-align:center; width:100px; font-size:12px; height:25px; line-height:25px; margin:4px 0;}
.grn-btn-rgt-new{color:#fff; border:1px solid #106919; background:url(/assets/paging-bg-hover.jpg) repeat-x; display:inline-block; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display:inline-block; text-align:center; width:100px; font-size:12px; height:25px; line-height:25px; margin:4px 0; padding:0 10px; margin-left:4px;}
.mt-10 {margin-top:42px;}
.map-right-location {float:left; width:233px; border:1px solid #cccccc; border-top:none; border-radius:4px; -moz-border-radius:4px; -webkit-border-raidus:4px; background:#fff;}
.location-hd {float:left; width:221px; height:30px; background:url(/assets/black-bg.gif) repeat-x; height:29px; line-height:29px;-webkit-border-raidus:4px 4px 0 0; -moz-border-raidus:4px 4px 0 0; border-radius:4px 4px 0 0; padding-left:10px; color:#ffffff; font-size:13px; border:1px solid #2f2f2f;}
.location-icon {float:right; margin-right:5px;}

.location-inner {float:left; width:221px; margin:6px;}
.map-new {float:left;}
.map-new img {border:1px solid #d2d2d2;}
.search-box {float:left; width:100%; margin:10px 0px;}
.search-box input[type="text"] {border:1px solid #cecece; float:left; width:185px; height:20px; line-height:26px; padding-left:8px;}
.add-icon {float:left; margin:6px 0 0 5px;}
.location-list {float:left; width:100%;}
.location-con {float:left; width:100%;}
.location-con h2 {font-size:13px; color:#484848; font-family: 'LucidaGrandeBold'; font-weight:normal; margin-bottom:5px;}
.location-con p {font-size:12px; color:#414141; margin-bottom:5px;}
.location-con span {font-size:11px; color:#e44544;}
.location-list ul {margin:0; padding:0;}
.location-list li {margin:0 0 10px 0; padding:0 0 10px 0; list-style:none; float:left; border-bottom:1px solid #d2d2d2; width:100%;border-bottom: 1px solid #D2D2D2;}
.location-list li.last{border-bottom:none; padding-bottom:0px; margin-bottom:4px;}
.location-right-icon {float:right; text-align:center;}
.location-list li img {margin-bottom:4px;}
.mt-15 {margin-top:15px;}
.source-inner {float:left; margin:5px; width:223px;}
.source-inner ul {margin:10px 0 0 0; padding:0;}
.source-inner li {margin:0 0 6px 0; padding:0 0 5px 0; list-style:none; float:left; width:100%; border-bottom:1px solid #d2d2d2;}
.source-inner li a {color:#222222; font-size:12px;}
.source-inner li a:hover {text-decoration:underline;}
.source-inner li a span {color:#e86868;}
.source-inner li.last {border-bottom:none; margin-bottom:0px;}
.sorce-right-icon {float:right; width:50px;}
.sorce-right-icon img {margin-right:2px;}
.arrows {float:right;}
.arrows img {margin-bottom:2px;}
.publish-new {float:left; width:700px; border:1px solid #e8e8e8; background:url(/assets/pub-bg.png) repeat-y;}
.publish-left {float:left; width:319px; background:#fff; margin:10px 10px 0 10px;}
.publish-left ul {margin:0; padding:0;}
.publish-left li {margin:0 0 8px 0; padding:0 0 8px 0; list-style:none; float:left; border-bottom:1px solid #d2d2d2; color:#222222; width:100%;}
.publish-left li.last {border-bottom:none; margin-bottom:0px;}
.publish-left li img {margin-left:5px;}
label.date {margin-left:40px; margin-right:0px; color:#787878; width:25%; float:right;}
label.km-text {color:#393939; float:right; width:20%;}
label.km-text strong {font-family: 'LucidaGrandeBold'; font-weight:normal;}
.cal-icon {float:right;}
.upload-images {float:right; width:345px; padding:8px 5px 8px 5px;}
.upload-images h4 {color:#222; font-size:12px;font-family: 'LucidaGrandeBold'; font-weight:normal; float:left;}
.upload-img-div {border:1px solid #d2d2d2; background:#fff; padding:3px; float:left; margin-left:8px; margin-right:8px;}
.upload-images span {color:#737373; line-height:30px;}
.btn-upload {background:url(/assets/btn-upload.gif) repeat-x; margin: -10px 0 0; height:25px; line-height:25px; border-radius:4px; padding:0 10px; color:#fff; border:1px solid #2f2f2f; display:inline-block;}

/* ============= Created on 15-May-2013 =======================*/
.search-button{
    background: #1A67B9;    
    padding: 0px 8px !important;
    height: 30px;
    font-size: 18px;
    color: white;
    font-family: 'zurich_bdxcn_btbold', Arial, Helvetica, sans-serif;
    font-weight: normal;    
}
a.heading-button{background:#1A67B9; border-radius: 4px; padding:5px 10px; height: 25px; line-height: 25px; color: #fff; font-family: 'zurich_bdxcn_btbold', Arial, Helvetica, sans-serif; text-decoration: none;}
a.heading-button img {display: inline-block; margin-top: -5px;}
.data-table tr.even a{color:#35A641;}
.data-table tr.odd a{color:#35A641;}
.data-table th a img{padding-bottom: 3px;}


.tooltip {position:absolute; left:250px; top:160px; padding:5px 5px 5px 5px; border:1px solid #a5a5a5; width:180px; height:auto; background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */
box-shadow: 2px 2px 2px #888888;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 0px;
opacity: 1 !important;
  margin-left: 100px;
  z-index: 1000;  
  cursor:pointer;      
}


.tooltip h1 {font:18px "LucidaGrandeBold"; color:#d43432; text-decoration:none; margin:0 0 10px 0;}
.tooltip-img {left:-15px; top:15px; position:absolute}
.tooltip p {margin:0; padding:0; font-size:13px; line-height: 15px; }
.tooltip .img-border {border:1px solid #a5a5a5; float:left; margin:0 3px 0px 0}

/* Added Dt.17062013 End */
#wrapper-new { background:url(/assets/top-black-new.jpg) repeat-x 0 0; width:100%; float:left;}
.header-new {float: left; width: 650px;padding:0px 0px 20px 0px !important; font-size:48px; font-family: 'oldnewspapertypesregular';}
.green-search{margin: 12px 0 0 0;width:704px; float:left; background-color:#589309; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; padding:16px; height: 93px;}
.search-title{font-size:20px; color:#FFF; width:100%; float:left;}
.search-box{width:100%; float:left; padding:5px 0px 0px 0px;}
.textfield-green-search{font-family: 'LucidaGrandeRegular';width:668px !important; height:55px !important; font-size:23px !important; color:#868686 !important; border:1px solid #ccc !important; -webkit-border-radius: 5px !important;-moz-border-radius: 5px !important;border-radius: 5px !important; line-height:55px !important; padding:0px 16px !important;}
.welcome-txt-main{width:740px; float:left; margin-top:20px;}
.welcome-txt{position:relative;float:left; margin-right:15px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; -webkit-box-shadow: 0 0 2px 1px #DADADA;-moz-box-shadow: 0 0 2px 1px #DADADA;box-shadow: 0 0 2px 1px #DADADA; background-color:#FFF; padding:15px; height:255px;}
.welcome-txt-lft{width:325px;}
.welcome-txt-rght{width:335px; margin-right:0px;}
.welcome-txt-main h3{color:#35a641; font-size:18px;font-family: 'zurich_bdxcn_btbold'; padding:0px; margin:0px; line-height: normal;}
.welcome-txt-main h3 span{color:#383838;}
.welcome-txt-main h3 img{float:right;}
.welcome-txt-main p {color:#0e0e0e; font-size:12px; line-height:18px; padding:10px 0px; margin:0px;}
.welcome-txt-main p a{color:#cf2e2d;}
.welcome-txt-main p a:hover{text-decoration:underline;}
.welcome-txt-main p img{float:right; vertical-align:text-top; margin: 0 0 10px 10px; }
.main-right-new{margin-top:0px !important;}
.main-rght-login-main{width:90px; float:left; height:36px; border-right:#333739 1px solid; border-left:#000 1px solid; color:#FFF; margin-left:143px; line-height:36px;}
.main-rght-login-main a{border-left:#333739 1px solid; border-right:#000 1px solid; color:#FFF; display:block; background-image:url(/assets/top-login-icon.jpg); background-repeat:no-repeat; background-position:10px center; padding-left:28px;}
.main-rght-login-main a:hover{background-color:#000;}
.search-part-new { background:url(/assets/search-h-black-bg.jpg) repeat-x 0 0; line-height:23px !important; height:26px !important;}
.main-search-gap{height:63px; float:left; width:100%;}
.news-main{width:100%; float:left;}
.news-main h4{font-size:14px; color:#151833; margin:12px 12px 0px 12px; font-weight:bold;}
.news-main p{margin:4px 12px 0px 12px; padding:0px; border:none;line-height:15px;font-size: 11px;
    margin-top: 0px;}
.news-main p a{color:#35a641; text-decoration:underline; padding-bottom:10px; border-bottom:1px solid #ccc; display:block; font-size:13px;}
.news-main p a:hover{text-decoration:none;}
.news-main p span{color:#a3a1a1;}
.border-none{border:none 0px !important;}
.footer-new{width:100%; float:left; background-color:#f2f2f2; padding:10px 0px; 
    margin-top:25px;
}
.foot-wrap { width:1000px; margin:0 auto;}
.foot-top{width:100%; float:left;}
.foot-logo{width:91px; float:left; margin-right:10px;}
.foot-logo-rght-txt{width:180px; float:left; margin-right:120px;}
.foot-logo-rght-txt a{color:#383838; line-height:20px; text-decoration:underline;}
.foot-logo-rght-txt a:hover{text-decoration:none;}
.foot-mid-txt{color:#383838; line-height:20px; width:302px; margin:10px 85px 0px 0px;}
.foot-social-icons{width:212px; float:left; text-align:right; color:#2a699e; font-size:14px; line-height:53px;}
.foot-social-icons span{float:right; margin-right:15px;}
.foot-social-icons img{float:right;}
.foot-bottom{width:100%; float:left; padding-top:10px;font-size:11px; color:#727272;}
.foot-btm-lft{width:50%; float:left;}
.foot-btm-rght{width:50%; float:left; text-align:right;}
.foot-btm-rght a{color:#3a589b; text-decoration:underline;}
.foot-btm-rght a:hover{text-decoration:none;}
.top-table-new{}
.top-table-new td{height:35px;}

/* ## */
#header .header-left a img{margin-top: -36px;}
.view-more-btn {bottom: 0; position: absolute;right: 15px;}
/*25-june-2013*/
.header-left{float:left;width:135px;}
.header-right{float:left;margin-top: 40px;}