<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style" <% if defined? share_url %>addthis:url="<%= share_url %>"<% end %>">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<% unless request.xhr? %>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-516ce83d5e0e880e"></script>
<% end %>
<!-- AddThis Button END -->
