<li>
	<input value="1" type="hidden" name="topic[references_attributes][<%= reference.get('id') %>][_destroy]" />
	<input value="<%= reference.get('id') %>" type="hidden" name="topic[references_attributes][<%= reference.get('id') %>][id]" />
</li>