<li>
	<input value="1" type="hidden" name="topic[locations_attributes][<%= location.get('id') %>][_destroy]" />
	<input value="<%= location.get('id') %>" type="hidden" name="topic[locations_attributes][<%= location.get('id') %>][id]" />
</li>