<div class="search-box">                      
  <input type="text" id="add-location-input" >
  <a href="javascript:;" id="add-location"><img src="/assets/icon-plus.png"></a>    
</div>
<div class="location-list">
  <ul class="selectn"></ul> 
</div>
