.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 680px;
  float: left;
}

body.touch, html.touch { overflow: hidden; height: 100%; width: 100%; }

body.touch .map_container { padding: 0px; border: none; }

.gmaps4rails_map {
  width: 680px;
  height: 400px;
}

#fancybox-content { background-color: #f9f9f9 !important; }
#fancybox-content > div { overflow: hidden !important; overflow-y: scroll !important; }

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}

.infowindow.single_topic, .marker-topic { cursor: pointer; }